services:
  api:
    image: jubo-dotnet-api:1.0.0
    build:
      context: ..
      dockerfile: docker/dockerfile
    container_name: jubo-dotnet-api
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=5000
      - ConnectionStrings__DefaultConnection=Host=pgsql;Database=${POSTGRES_USER};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Pooling=true;MinPoolSize=10;MaxPoolSize=100
      - ConnectionStrings__DefaultRedisConnection=redis-cache:6379,password=${REDIS_PASSWORD},defaultDatabase=0,keepAlive=15,connectTimeout=3000,syncTimeout=3000
    volumes:
      - ../src/csharp/api/appsettings.json:/app/appsettings.json
    restart: unless-stopped
    networks:
      - jubo-network
  redis:
    container_name: redis-cache
    image: redis:5.0.7-alpine3.11
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    networks:
      - jubo-network

networks:
  jubo-network:
    external: true
